### 함수
```
def 함수명():
    함수가 해야할 일
```

In [1]:
def hello():
    print("hello")

In [2]:
hello()

hello

In [3]:
def hello2():
    return "hello"

hello2()

'hello'

In [4]:
def add(a, b):
    return a + b

print(f"3 + 4 = {add(3,4)}")

3 + 4 = 7

In [6]:
# 기본 파라메터 : 인자에 기본값(변수값이 안 넘어오는 경우에 사용)을 주는 형태

def print_n_times(value, n=2):
    for i in range(n):
        print(value)


print_n_times("안녕하세요",4)

안녕하세요
안녕하세요
안녕하세요
안녕하세요

In [7]:
# 가변 파라메터(파라메터의 개수가 정해져 있지 않음)
def add_many(*args):
    print(args)

add_many()
add_many({"name":"hong","age":20})
add_many(35,24,25,63)
add_many("A","B","C","D")
add_many(["A","B","C","D"])

()
({'name': 'hong', 'age': 20},)
(35, 24, 25, 63)
('A', 'B', 'C', 'D')
(['A', 'B', 'C', 'D'],)

In [3]:
def sum_and_mul(a,b):
    return (a+b,a*b)

In [5]:
result1, result2 = sum_and_mul(5,3)
print(f"덧셈 : {result1}, 곱셈 : {result2}")

덧셈 : 8, 곱셈 : 15

In [4]:
result3 = sum_and_mul(5,3)
print(result3)

(8, 15)

In [7]:
def func2(x):
    y1 = x *100
    y2 = x *200
    y3 = x *300
    
    #return y1,y2,y3 =>tuple 로 리턴
    return [y1, y2, y3]

In [8]:
list1 = func2(10)
print(list1)

[1000, 2000, 3000]

In [15]:
# 사칙연산 함수
def fourRules(num1,num2,op):
    if op == "+":
        result = num1 + num2
    elif op == "-" :
        result = num1 - num2
    elif op == "*" :
        result = num1 * num2
    elif op == "//" :
        result = num1 // num2
    return result



a, b = 6,3
# 사칙연산 결과 출력
print(f"{a}+{b}={fourRules(a,b,"+")}")
print(f"{a}-{b}={fourRules(a,b,"-")}")
print(f"{a}*{b}={fourRules(a,b,"*")}")
print(f"{a}/{b}={fourRules(a,b,"//")}")

6+3=9
6-3=3
6*3=18
6/3=2

In [18]:
# a, b, op 입력받기

# 사칙연산 결과 출력
a=int(input("숫자1 입력"))
b=int(input("숫자2 입력"))
op=input("연산기호 입력")
print(f"{a} {op} {b} = {fourRules(a,b,op)}")

2 * 8 = 16

In [19]:
# 유효범위
a = 3

def func2(a):
    print(f"함수 내부 {a}")
    a += 2
    print(f"함수 내부 {a}")

In [21]:
# 전역변수
print(a)
func2(1)

3
함수 내부 1
함수 내부 3

In [24]:
def func3() :
    # 함수 내부에서 전역 변수 사용 불가
    global a
    a += 2
    return a

In [25]:
print(func3())

5

#### 람다 함수
- 단일문으로 표현되는 익명함수
- 코드 상에서 한번만 사용되는 기능이 필요할 때 함수로 작성하지 않고 1회성으로 만들 때 주로 사용

In [27]:
def square(x):
    return x ** 2
square(5)

25

In [28]:
square = lambda x : x ** 2
square(6)

36

In [29]:
def add(x,y):
    return x+y
add(15,12)

27

In [30]:
add = lambda x, y: x+y
add(18,6)

24

In [31]:
strings = ["bob", "charles", "alexander3", "teddy"]
strings.sort() # 기본 오름차순 정렬

strings

['alexander3', 'bob', 'charles', 'teddy']

In [32]:
strings =  ["bob", "charles", "alexander3", "teddy"]
strings.sort(reverse=True) #내림차순 정렬
#strings

['teddy', 'charles', 'bob', 'alexander3']

In [33]:
# 단어 길이 리턴 함수
def str_len(word):
    return len(word)

strings =  ["bob", "charles", "alexander3", "teddy"]
strings.sort(key=str_len) #정렬 기준 지정 후 정렬 -단어의 길이가 짧은 순서
strings

['bob', 'teddy', 'charles', 'alexander3']

In [34]:
strings =  ["bob", "charles", "alexander3", "teddy"]
strings.sort(key=lambda s:len(s)) #정렬 기준 지정 함수 - 한번만 쓸거면 람다함수
strings

['bob', 'teddy', 'charles', 'alexander3']

In [35]:
strings =  ["bob", "charles", "alexander3", "teddy"]
strings.sort(key=lambda s:len(s), reverse=True) 
strings

['alexander3', 'charles', 'teddy', 'bob']

- filter(함수, 데이터): 반복 가능한 데이터 요소 순서대로 함수를 호출했을 때 리턴 값이 참임것만 묶어서 리턴
- map(함수, 데이터): 반복 가능한 데이터 요소에 함수를 적용한 결과 리턴
- reduce()

In [37]:
def even(arr):
    result = []
    for i in arr :
        if i % 2 == 0:
            result.append(i)
    return result
even([1,2,3,6,8,9])

[2, 6, 8]

In [38]:
def even(n):
    return n%2 ==0
print(list(filter(even,[1,2,3,6,8,9])))

[2, 6, 8]

In [39]:
print(list(filter(lambda x:x%2==0, [1,2,3,6,8,9,10])))

[2, 6, 8, 10]

In [41]:
#양수만 추출
def positive(list1):
    result = []
    for i in list1:
        if i>0:
            result.append(i)
    return result

list1 = [1,-3,2,0,-5,6]
positive(list1)

[1, 2, 6]

In [42]:
print(list(filter(lambda x:x>0, [1,-3,2,0,-5,6])))

[1, 2, 6]

In [43]:
# 리스트의 각 요소에 2를 곱해 리턴
def two_times(nums):
    result = []
    for i in nums :
        result.append(i*2)
    return result


num_list = [1,2,3,4,6,8,10,11,12,14,15,16]
two_times(num_list)

[2, 4, 6, 8, 12, 16, 20, 22, 24, 28, 30, 32]

In [44]:
def two_times(x):
    return x*2
list(map(two_times, num_list))

[2, 4, 6, 8, 12, 16, 20, 22, 24, 28, 30, 32]

In [45]:
list(map(lambda x:x*2, num_list))

[2, 4, 6, 8, 12, 16, 20, 22, 24, 28, 30, 32]